@charset "utf-8";
/* CSS Document */

header{
	width: 100%;
	text-align: center;
	height: 55px;
	font-size: 50px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	font-size: 60%;
	justify-content: space-around;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

.home{
}

.about{
}
.imageone{
	display: block;
	margin-left: 500px;
	margin-right: 500px;
	width:350px;
	height:300px;
}

.paragragh{
	font-family: scrivano,serif;
	font-weight: 400;
	font-style: italic;
	font-size: 25px;
	text-align: center;
}

.before-and-after{
}

.Video{
}

.contact{
}

.iframe{
	margin-left: 350px;
	margin-right: 500px;
	width:350px;
	height:300px;
}
